@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: 72, 43, 231;
  --primary-color2: 47, 24, 147;
  --secondary-color: 233, 58, 125;
  --green-color: 37, 218, 197;
  --blue-color: 29, 161, 242;
  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  /* font size */
  --fs-14: clamp(12px, 1vw, 14px);
  --fs-16: clamp(14px, 1.2vw, 16px);
  --fs-18: clamp(15px, 1.4vw, 18px);
  --fs-20: clamp(16px, 1.6vw, 20px);
  --fs-22: clamp(16px, 1.6vw, 22px);
  --fs-24: clamp(18px, 2vw, 24px);
  --fs-42: clamp(26px, 3vw, 42px);
  --fs-58: clamp(27px, 4vw, 58px);
  --fs-72: clamp(28px, 6vw, 72px);
}

.fs-14 {
  font-size: var(--fs-14) !important;
}

.fs-16 {
  font-size: var(--fs-16) !important;
}

.fs-18 {
  font-size: var(--fs-18) !important;
}

.fs-20 {
  font-size: var(--fs-20) !important;
}

.fs-22 {
  font-size: var(--fs-22) !important;
}

.fs-24 {
  font-size: var(--fs-24) !important;
}

.fs-42 {
  font-size: var(--fs-42) !important;
}

.fs-58 {
  font-size: var(--fs-58) !important;
}

.fs-72 {
  font-size: var(--fs-72) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "DM Sans", serif;
}

/* reset css */
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

img,
svg,
picture,
video {
  -o-object-fit: cover;
  object-fit: cover;
  shape-margin: 1rem;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

.ptb-100 {
  padding-block: clamp(45px, 7vw, 100px);
}

.section-title {
  font-size: var(--fs-42);
  color: rgba(var(--white-color), 1);
  margin-bottom: clamp(10px, 2vw, 20px);
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 970px;
  }
}

/*---------------- btns css---------- */
.btns {
  font-size: clamp(16px, 1.4vw, 18px);
  display: inline-block;
  font-weight: 500;
  line-height: normal;
  padding-block: clamp(12px, 1vw, 16.67px);
  padding-inline: clamp(25px, 3vw, 35px);
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* for background change on hover base */
  --_hover-bg: var(--bg-hover, rgba(var(--primary-color), 1));
  --_hover-text: var(--text-hover, #000);
}

.btn_md {
  padding-block: clamp(11px, 0.8vw, 11px);
}

.btns:hover {
  background-color: var(--_hover-bg);
  border-color: var(--_hover-bg);
}

.btn_primary {
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--primary-color), 1);
  border: 2px solid rgba(var(--primary-color), 1);

  /* background change on hover */
  --bg-hover: rgba(var(--secondary-color), 0.9);
}

.btn_secondary {
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--secondary-color), 1);
  border: 2px solid rgba(var(--secondary-color), 1);

  /* background change on hover */
  --bg-hover: rgba(var(--secondary-color), 0.9);
}

.btn_green {
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--green-color), 1);
  border: 2px solid rgba(var(--green-color), 1);

  /* background change on hover */
  --bg-hover: rgba(var(--secondary-color), 0.9);
}

.btn_blue {
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--blue-color), 1);
  border: 2px solid rgba(var(--blue-color), 1);

  /* background change on hover */
  --bg-hover: rgba(var(--secondary-color), 0.9);
}

.btn_outline_light {
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--white-color), 0);
  border: 2px solid rgba(var(--white-color), 0.5);

  /* background change on hover */
  --bg-hover: rgba(var(--secondary-color), 0.9);
}

/* header css-------------------------- */

.header-bg .navbar {
  padding-block: 20px;
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: rgba(15, 12, 23, 0.14);
  z-index: 99;
  position: fixed;
  width: 100%;
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(0);
  }
}

.offcanvas {
  height: 100vh;
}

header .navbar {
  padding-block: clamp(20px, 5.3vw, 80px);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(../images/hamburger.svg);
}

header .nav-link {
  color: rgba(var(--white-color), 1);
  font-size: var(--fs-18);
  font-weight: 500;
}

header .navbar-nav .nav-link.active,
header .nav-link:focus,
header .nav-link:hover {
  color: rgba(var(--white-color), 0.3);
}

header .nav-link:hover img {
  opacity: 0.7;
}

/* hero banner css-------------------------------- */

.main-wrapper {
  background-image: url("../images/hero-banner-bg.webp"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
}

.hero-section {
  max-height: calc(100dvh - 10vh);
  height: calc(100dvh - clamp(78px, 20vw, 203px));
}

.hero-item {
  max-width: 736px;
  margin-inline: auto;
  gap: clamp(12px, 8px + 1.3vw, 28px);
  /* padding-top: 62px; */
}

.hero-subtitle {
  font-size: var(--fs-24);
}

.hero-title {
  font-size: var(--fs-72);
}

.hero-description {
  font-size: var(--fs-22);
  margin-bottom: 48px;
}

.border-dots .slick-dots li {
  width: 12px;
  height: 12px;
}

.border-dots .slick-dots li button:before {
  border: 2px solid #d9d9d9;
  border-radius: 100px;
  font-size: 0;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.border-dots .slick-dots li.slick-active button:before {
  background-color: rgba(var(--white-color), 1);
  border: 2px solid rgba(var(--white-color), 1);
  opacity: 1;
}

.hero-slider.slick-dotted.slick-slider {
  margin-bottom: clamp(20px, 2vw, 30px);
}

.hero-slider .slick-prev {
  /* left: 0; */
  z-index: 2;
}

.hero-slider .slick-next {
  /* right: 0; */
  z-index: 2;
}

.hero-slider .slick-next:before,
.hero-slider .slick-prev:before {
  width: 20px;
  height: 30px;
  display: inline-flex;
  content: "";
  opacity: 1;
}

/* optinal font awesome  */
.hero-slider .slick-prev::before {
  background: url("../images/arrow-left.svg") no-repeat center/ 12px;
}

.hero-slider .slick-next::before {
  background: url("../images/arrow-right.svg") no-repeat center/ 12px;
}

.hero-slider .slick-arrow.slick-disabled {
  opacity: 0.3;
}

/* powerful-generator css----------------- */
.powerful-generator {
  background-image: url("../images/powerful-generator-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* features  css----------------- */
.features {
  background-image: url("../images/feature-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.features .features-card {
  padding: 10px;
  flex: 0 1 40%;
}

.features-slider .slick-slide>div {
  overflow: hidden;
}

/* form css ---------------------------*/
.contact-form {
  background-image: url("../images/form-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  background: rgba(var(--white-color), 1);
  border-radius: 10px;
}

.form-container .nav-item {
  flex: 1;
  text-align: center;
}

.form-container .nav-link.active {
  color: #1e0e62;
  border: 0;
  border-bottom: 3px solid #1e0e62;
}

.form-container .nav-link {
  width: 100%;
  padding: 20px 25px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  border-bottom: 3px solid #ebeaed;
  color: #15143966;
}

.form-container .tab-content {
  padding: clamp(30px, 5vw, 70px);
}

.form-control,
.form-select {
  height: 50px;
  border-radius: 100px;
  border: 2px solid #ebeaed;
  padding: 0 20px;
}

.form-tabs {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.form-tabs .nav-link {
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
}

.form-tabs .nav-link.active {
  color: #000;
  border-bottom: 3px solid #00c8a3;
}

.divider-or {
  text-align: center;
  position: relative;
  background-color: rgba(var(--white-color), 1);
  z-index: 1;
}

.divider-or:before,
.divider-or::after {
  content: "";
  width: 45%;
  height: 2px;
  background: #dddddde7;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

.divider-or::after {
  right: 0;
  left: unset;
}

/* client css----- */

.client-section {
  background-color: #1e0e62;
}

.client-card {
  border: 1px solid rgba(var(--white-color), 0.5);
  border-radius: 10px;
  padding: clamp(24px, 2.3vw, 34px);
  display: flex;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.client-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.client-card img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.client-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.client-description p {
  font-size: var(--fs-18);
  color: rgba(var(--white-color), 1);
}

.client-name {
  font-weight: 500;
  margin-top: 5px;
  font-size: var(--fs-14);
  color: rgba(var(--white-color), 0.3);
  text-transform: uppercase;
  /* Light gray for names */
}

/* call to action ----------------------- */
.call-to-action {
  background-image: url("../images/call-to-action-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video-play-button {
  position: relative;
  z-index: 10;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #eb2055; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ea3223;
  border-radius: 50%;
  animation: pulse-border 1100ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 70px;
  height: 70px;
  background: #ea3223;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 19px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  top: 10px;
  left: 5px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* showcase-section ------------ */
.showcase-section {
  background-color: rgba(var(--primary-color2), 1);
}

/* contact --------------- */
.contact-section {
  background-image: url("../images/contact-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-address * {
  display: flex;
}

.contact-info i {
  min-width: 30px;
  margin-top: 6px;
}

.contact-section .contact-form {
  background: white;
  color: black;
  border-radius: 10px;
  padding: clamp(20px, 3vw, 48px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



.form-label {
  font-size: 14px;
  color: #1E0E62;
  font-weight: 800;
  text-transform: uppercase;
}

.form-check-label {
  font-size: 14px;
  accent-color: rgba(var(--green-color), 1);
}

.form-check-input:checked {
  background-color: rgba(var(--green-color), 1);
  border-color: rgba(var(--green-color), 1);
  ;
}

.form-check-input:focus {
  box-shadow: none;
}

/* pricing css-------------------- */

.pricing-section {
  text-align: center;
  background-image: url("../images/pricing-bg.png"),
    linear-gradient(to right,
      rgba(var(--primary-color2), 1),
      rgba(var(--primary-color2), 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pricing-card {
  border: 2px solid rgba(var(--white-color), 0.3);
  border-radius: 10px;
  padding: clamp(20px, 3vw, 44px);
  transition: all 0.3s ease-in-out;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.pricing-title {
  font-size: var(--fs-22);
  color: rgba(var(--white-color), 1);
  padding-left: 30px;
}

sup {
  font-size: 16px;
  vertical-align: super;
  font-weight: 400;
}

.pricing-price {
  font-weight: bold;
  margin: 15px 0;
  font-size: var(--fs-58);
  color: rgba(var(--white-color), 1);
  padding-left: 30px;
}

.pricing-card ul {
  height: 100%;
}

.pricing-card ul li {
  margin: 10px 0;
  font-size: 1rem;
  color: rgba(var(--white-color), 1);
}

.pricing-card ul li:not(:has(.bi-check-lg)) {
  color: rgba(var(--white-color), 0.6);
}

.pricing-card ul li i {
  color: #18c967;
  margin-right: 10px;
  width: 16px;
  display: inline-block;
}

/* footer css----------------------- */
.footer {
  background-color: rgb(47, 24, 147);
  color: white;
  padding-block: clamp(40px, 4vw, 50px);
}

.footer a {
  color: rgba(var(--white-color), 1);
  font-size: 16px;
}

/* responsive css */

@media (min-width: 860px) {
  .features-left-img {
    width: calc(100% + 30vw);
    position: relative;
    left: -30vw;
  }

  .features-slider .slick-dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    justify-content: center;
    align-items: end;
    width: fit-content;
  }

  .features-slider {
    max-width: calc(100% - 12%);
  }

  .header-bg.main-wrapper {
    height: auto;
  }
}

@media (max-width: 767.5px) {

  header .navbar-nav .nav-link.active,
  header .nav-link:focus,
  header .nav-link:hover {
    color: rgba(var(--primary-color), 1);
  }

  header .nav-link {
    color: rgba(var(--black-color), 1);
  }

  .hero-slider .slick-dots {
    bottom: 0;
  }
}

/* @media (max-width: 567.5px) {
  .main-wrapper {
    max-height: 560px;
  }
} */

@media screen and (orientation: landscape) {
  .main-wrapper {
    height: calc(100dvh + 22vh);
  }
}